<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link href="/assets/invoice.css" rel="stylesheet" />

</head>
<!-- set page A4 sized paper-->
<body style="width: 210mm;height: 297mm; border:1px black solid">

<div class="invoice-container">
    <div class="invoice-detail-accent" style="background-color: rgb(51, 51, 51);"></div>
    <div class="invoice-detail-body">
        <div class="invoice-detail-title content-block">
            <div class="d-flex justify-content-between">
                <div class="invoice-title">
                    <h2><span>Invoice</span></h2>
                </div>
                <div class="invoice-logo">
                    <div class="photo-drop">
                        <div class="photo-drop-preview">
                            <img alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="invoice-detail-header content-block">
            <div class="row">
                <div class="col-md invoice-address invoice-address-company">
                    <h3 id="invoice-from">From</h3>
                    <h4 id="invoice-from-name">Name</h4>
                    <div class="preview-block" id="invoice-from-email">Email@email.com</div>
                    <div class="preview-block">
                        <div id="invoice-from-address" >Address</div>
                        <div id="invoice-from-city">City,State</div>
                        <div id="invoice-from-zipcode">Zip Codeq</div>
                    </div>
                    <div class="preview-block">
                        <span class="preview-label" title="Phone Number">P:</span>
                        <span class="preview-value" id="invoice-from-phone" > Phone Number</span>
                    </div>
                    <div class="preview-block">
                        <span class="preview-label" title="Business Number">Business Number:</span>
                        <span class="preview-value" id="invoice-from-businessnum"> BuisnessNumber</span>
                    </div>
                </div>
                <div class="col-md invoice-address invoice-address-client">
                    <h3 id="invoice-to">To</h3>
                    <h4 id="invoice-to-name">ClientName</h4>
                    <div class="preview-block" id="invoice-to-email">Email@email.com</div>
                    <div class="preview-block">
                        <div id="invoice-to-address">Address2</div>
                        <div id="invoice-to-city">City,State2</div>
                        <div id="invoice-to-zipcode">Zip Code1</div>
                    </div>
                    <div class="preview-block">
                        <span class="preview-label" title="Phone Number">P:</span>
                        <span class="preview-value" id="invoice-to-phone"> Phone Number</span>
                    </div>
                </div>
            </div>
        </div>
        <hr class="divider lite margin">
        <div class="invoice-detail-terms content-block">
            <div class="row">
                <div class="col-md-6 invoice-address invoice-address-terms">
                    <div class="terms-item-view">
                        <span >Number</span>
                        <span id="invoice-number">INV0001</span>
                    </div>
                    <div class="terms-item-view">
                        <span>Date</span><span id="invoice-date">08 Jan 2019</span>
                    </div>
                    <div class="terms-item-view">
                        <span id="invoice-terms">Terms</span>
                        <span id="invoice-custom"></span>Custom</span>
                    </div>
                    <div class="terms-item-view">
                        <span >Due</span>
                        <span id="invoice-duedate">17 Jan 2019</span>
                    </div>
                </div>
            </div>
        </div>
        <!--=================== Items ==================-->
        <div class="invoice-item-list content-block">
            <table class="table invoice-table invoice-table-view">
                <thead class="thead">
                    <tr>
                        <th class="invoice-detail-margin" style="background-color: rgb(51, 51, 51) !important; color: rgb(255, 255, 255);">&nbsp;</th>
                        <th class="invoice-detail-summary" style="background-color: rgb(51, 51, 51) !important; color: rgb(255, 255, 255);">Description</th>
                        <th class="invoice-detail-rate" style="background-color: rgb(51, 51, 51) !important; color: rgb(255, 255, 255);">Price</th>
                        <th class="invoice-detail-quantity" style="background-color: rgb(51, 51, 51) !important; color: rgb(255, 255, 255);">Qty</th>
                        <th class="invoice-detail-total" style="background-color: rgb(51, 51, 51) !important; color: rgb(255, 255, 255);">Amount</th>
                        <th class="invoice-detail-margin" style="background-color: rgb(51, 51, 51) !important; color: rgb(255, 255, 255);">&nbsp;</th>
                    </tr>
                </thead>
                <tbody class="invoice-items" id="invoice-items">
                    <tr style="display: none" class="item-row item-row" style="border-bottom: 1px solid rgb(51, 51, 51);"><td class="invoice-detail-margin"></td><td data-label="Item #1" class="item-row-summary"><span class="item-row-name">item1</span><span class="item-row-description"><span><br></span></span></td><td data-label="Price" class="item-row-rate"><span class="currency"><span class="currency-symbol">$</span><span class="currency-amount">1.00</span></span></td><td data-label="Quantity" class="item-row-quantity">1</td><td data-label="Amount" class="item-row-amount"><span class="currency amount"><span class="currency-symbol">$</span><span class="currency-amount">1.00</span></span></td><td class="invoice-detail-margin"></td></tr>                    
                </tbody>
            </table>
        </div>
        <div class="invoice-totals-container content-block">
            <div class="invoice-totals-row desktop undefined">
                <div class="invoice-summary-label">Subtotal</div>
                <div class="invoice-summary-value">
                    <span class="currency">
                        <span class="currency-symbol invoice-currency-symbol" >$</span>
                        <span class="currency-amount" id="invoice-subtotal-amount">5.00</span></span>
                </div>
            </div>
            <div class="invoice-totals-row desktop undefined">
                <div class="invoice-summary-label">Tax (0%)</div>
                <div class="invoice-summary-value">
                    <span class="currency"><span class="currency-symbol invoice-currency-symbol" >$</span>
                    <span class="currency-amount" id="invoice-tax-amount">0.00</span></span>
                </div>
            </div>
            <div class="invoice-totals-row desktop undefined">
                <div class="invoice-summary-label">Total</div>
                <div class="invoice-summary-value"><span class="currency"><span class="currency-symbol invoice-currency-symbol">$</span>
                        <span class="currency-amount" id="invoice-total-amount" >5.00</span></span>
                </div>
            </div>
            <div class="invoice-totals-row bold desktop invoice-summary-balance invoice-balance">
                <div class="invoice-summary-label">Balance Due</div>
                <div class="invoice-summary-value"><span class="currency"><span class="currency-symbol invoice-currency-symbol">$</span>
                        <span class="currency-amount" id="invoice-balance-amount">5.00</span></span>
                </div>
            </div>
        </div>
        <hr class="divider margin" style="background-color: rgb(51, 51, 51);">
        <div class="invoice-detail-footer content-block">
            <div class="invoice-detail-notes clearfix">
                <p><span id="invoice-notes">Notes<br></span></p>
            </div>
        </div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
    //Convert Python array into json
    var invoiceData = JSON.parse({{ result | tojson | safe}});
    console.log(invoiceData);
    //Change Data
    //Change General Data
    $("#invoice-from-name").html(invoiceData["SenderName"]);
    $("#invoice-to-name").html(invoiceData["RecieverName"]);
    $("#invoice-from-address").html(invoiceData["Address"]);
    $("#invoice-to-address").html(invoiceData["Address"]);

    $("#invoice-date").html(invoiceData["Date"]);
    $("#invoice-number").html(invoiceData["InvoiceNumber"]);
    $("#invoice-notes").html(invoiceData["Notes"]);

    //Change items data    
    var items = invoiceData["Items"];
    for(var i=0;i < items.length;i++){
        var item = items[i];        
        $("#invoice-items").append('<tr class="item-row item-row" style="border-bottom: 1px solid rgb(51, 51, 51);"><td class="invoice-detail-margin"></td><td data-label="Item #1" class="item-row-summary">'+
        '<span class="item-row-name">' + item["itemName"] + '</span><span class="item-row-description"><span><br></span></span></td><td data-label="Price" class="item-row-rate"><span class="currency">'+
        '<span class="currency-symbol">'+ item["itemCurrency"] +'</span><span class="currency-amount">' + item["itemPrice"] +
        '</span></span></td><td data-label="Quantity" class="item-row-quantity">'+ item["itemQuantity"] +'</td><td data-label="Amount" class="item-row-amount"><span class="currency amount"><span class="currency-symbol invoice-currency-symbol">$</span><span class="currency-amount">1.00</span></span></td><td class="invoice-detail-margin"></td></tr>')
    }

</script>
</body>
</html>